langchain-core
langchain-google-genai>=2.0.0
google-genai
langchain-community
faiss-cpu
langgraph
yfinance
gspread
google-auth
requests
langchain-community
pypdf
docx2txt
TextLoader
pandas
openpyxl
tavily-python
